<%- include("partials/header.ejs")  %>

<body style="background-color : #D4C9BE"></body>

<section id="create">

    <form action="/save" method="POST">
        <textarea name="BLOG" cols="150" rows="25" placeholder="Start Writing here!"></textarea>
        <br/>
        <input type="submit" value="Save">
    </form>

</section>


<%- include("partials/footer.ejs")  %>